name: front_flutter
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.7.2

dependencies:
  dio: ^5.9.1
  universal_html: ^2.3.0
  intl: ^0.19.0
  go_router: ^14.0.0
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/citapp_logo.webp
    - assets/images/citapp_icon.webp